:root {
    /* Special */
    --t-background: #161821;
    --t-foreground: #c6c8d1;

    /* Colors */
    --t-black: #1e2132;
    --t-red: #e27878;
    --t-green: #b4be82;
    --t-yellow: #e2a478;
    --t-blue: #84a0c6;
    --t-magenta: #a093c7;
    --t-cyan: #89b8c2;
    --t-white: #c6c8d1;
    --t-black-l: #6b7089;
    --t-red-l: #e98989;
    --t-green-l: #c0ca8e;
    --t-yellow-l: #e9b189;
    --t-blue-l: #91acd1;
    --t-magenta-l: #ada0d3;
    --t-cyan-l: #95c4ce;
    --t-white-l: #d2d4de;
}

body {
    background-color: var(--t-background);
    font-family: Cousine;
    font-size: 1em;
    color: var(--t-foreground);
}

.card {
    font-size: 1.7em;
    line-height: 1.5em;
    text-align: center;
}

a:link {
    color: var(--t-blue);
}
a:visited {
    color: var(--t-magenta);
}
a:hover {
    color: var(--t-blue-l);
}
a:active {
    color: var(--t-cyan-l);
}

img {
  max-width: none;
  max-height: none;
}
